body {
  margin: 0;
  font-family:sans-serif;
  padding:0;


}
a:link, a:visited{
  background-color: dodgerblue;
  color: #F7F7F7;
  padding: 8px 18px;
  display:inline-block;
  text-align: center;
  text-decoration: none;
}
a:hover, a:active{
  background-color: royalblue;
}
#company{
  color:cornflowerblue;
}
#descp{
  color:gray;
}

#root{
  padding: 4rem 0;
}