body {
  margin: 0;
  font-family:sans-serif;
  padding:0;


}
a{
  background-color: dodgerblue;
  color: #F7F7F7;
  padding: 14px 25px;
  display:inline-block;
  text-align: center;
  text-decoration: none;
}
#company{
  color:cornflowerblue;
}
#descp{
  color:gray;
}

#root{
  padding: 4rem 0;
}